<h2><%= @user.name %>'s Dashboard!</h2>

<br />

<p>To send a new message, <%= link "click here", to: Routes.message_path(@conn, :new) %></p>
<p>To view your message history, <%= link "click here", to: Routes.user_path(@conn, :show, @user) %></p>
