<div class="tagline">
  <h1>Welcome to SMS Scheduler</h1>
  <h2>A Client Messaging App</h2>
</div>

<div class="action-boxes">

  <div class="card login">
      <a href="/combinedlogin"> Login or Register Yourself</a>
  </div>

  
</div>



