<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "SMS Scheduler" %></h2>
  <p class="lead">A client messaging app!</p>
  <p>To create a new account, <%= link "click here", to: Routes.user_path(@conn, :new) %></p>
  <p>To view all messages, <%= link "click here", to: "#" %></p>
</div>