<div class="tagline">
  <h1>Welcome to SMS Scheduler</h1>
  <h2>A Client Messaging App</h2>
</div>

<br />
<br />

<div class="align-middle">
<%= if @current_user == nil do %>

  <div class="card login">    
      <a href="/combinedlogin">Login or Register Yourself</a>
  </div>
<%= else %>
   <div class="card login">
      <a href=<%= Routes.user_path(@conn, :index) %>>Go To Dashboard</a>
    </div>
<%= end %>  
</div>



