      <header>
       <%= link "SMS Scheduler", class: "logo", to: Routes.page_path(@conn, :index) %>
       <%= if @current_user do %>
          <ul class="navbar-nav mr-auto">
            <li><a href="/logout"> Logout</a></li> 
          </ul>
       <%= else %>
          <a href="/login">Login</a>    
          <%= link to: Routes.auth_path(@conn, :authenticate) do %>
          <i class="icon ion-logo-github"></i> Github
       <%= end %>
       <%= end %>
      </header>